---
Checks: "-*,\
clang-diagnostic-*,\
boost-*,\
bugprone-*,\
clang-analyzer-*,\
cppcoreguidelines-*,\
-cppcoreguidelines-pro-bounds-array-to-pointer-decay,\
cppcoreguidelines-pro-bounds-pointer-arithmetic,\
cppcoreguidelines-pro-bounds-constant-array-index,\
-cppcoreguidelines-owning-memory,\
cppcoreguidelines-pro-type-reinterpret-cast,\
-cppcoreguidelines-special-member-functions,\
google-readability-casting,\
hicpp-*,\
-hicpp-no-array-decay,\
-hicpp-special-member-functions,\
llvm-*,\
-llvm-header-guard,\
misc-*,\
-misc-non-private-member-variables-in-classes,\
misc-static-assert,\
-misc-const-correctness,\
-misc-include-cleaner,\
modernize-*,\
modernize-concat-nested-namespaces,\
-modernize-use-trailing-return-type,\
performance-*,\
portability-*,\
readability-*,\
-readability-redundant-access-specifiers,\
-readability-identifier-length
"
CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,       value: lower_case }
  - { key: readability-identifier-naming.ClassCase,           value: CamelCase  }
  - { key: readability-identifier-naming.StructCase,          value: CamelCase  }
  - { key: readability-identifier-naming.FunctionCase,        value: camelBack }
...
